    /* skills */

    .clearfix::after {
      content: '';
      display: block;
      clear: both;
    }

    .skills {
      width: 100%;
      background-image: url('../static/bg5.jpeg');
      background-size: cover;
      z-index: 1;
      position: relative;
      color: #ffffff;
    }
    .skills::after{
      content: '';
      display: block;
      position: absolute;
      height: 100%;
      width:100%;
      left: 0;
      top: 0;
      z-index: -1;
      background-color: rgba(0, 0, 0, .7);
    }

    .container>h2 {
      font-size: .8rem;
      padding: 1rem;
    }

    ul>.skill-item {
      padding: .4rem 0;
      float: left;
      width: 50%;
    }

    ul>.skill-item>* {
      margin: 0 auto;
      width: 90%;
    }

    ul>.skill-item>.skill-item-title {
      font-size: .32rem;
      font-weight: 600;
      line-height: .36rem;
      height: .36rem;
      padding: .1rem;
    }

    ul>.skill-item>.progressBar {
      border: 1px solid #e3e3e3;
      overflow: hidden;
      margin-top: .2rem;
    }

    .html {
      width: 90%;
    }

    .js {
      width: 75%;
    }

    .css {
      width: 85%;
    }

    .vue {
      width: 60%;
    }

    .other {
      width: 70%;
    }

    .progressBar>.progress {
      height: .2rem;
      background: linear-gradient(to right, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
      transform: translateX(-100%);
      transition: all 1s;
    }

    ul.slide-in .progressBar>.progress {
      transform: translateX(0);
    }

    ul>.skill-item {
      display: block;
      height: 1rem;
    }

    @media (max-width: 960px) {
      ul>.skill-item {
        float: left;
        width: 100%;
      }
    }
